<a href="https://colab.research.google.com/github/Wiskadoj1/Practicas_EDA_Python/blob/main/Practica9_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Libreta**

Laboratorio de Computación



Profesor(a):
 José Olivas Díaz

Asignatura:
  Estructura de datos y algoritmos

Grupo:
 11

No de Práctica(s):
 9

Integrante(s):

 Antonio García Braulio Gerardo

Mendoza Torres Marco Antonio

 Zarate Mendoza Luis Alejandro

No. de brigada:
  12

Semestre:
 2025-2

Fecha de entrega:
  28 de abril de 2025
  
Observaciones:






CALIFICACIÓN: ________________

# 1. Variables y tipos



*   Los nombres de las variables son alfanuméricos (a-z, A-Z, 0-9) y empiezan con una letra en minúscula.
*   No se especifica el tipo de valor que una varible contiene, está implícito al momento de asignar un valor.
*   No se necesita poner ; al final de cada instrucción.
*   Mantener las indentaciones al momento de escribir código.

Nombres reservados en Python: and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield

In [ ]:
#Inicializando variables
x = 10     #variable de tipo entero
print(x)   #función para imprimir los valores de las variables

#Se puede utilizar comillas dobles o simples para crear una cadena
cadena = "Hola Mundo"    #varible de tipo cadena
print(cadena)

10
Hola Mundo

In [ ]:
#Asigna un mismo valor a tres variables
x = y = z = 10
print(x,y,z)

10 10 10

In [ ]:
#La función type() permite conocer el tipo de una variable
type(x)

int

In [ ]:
type(cadena)

str

In [ ]:
#Se pueden cambiar los valores de las variables y el tipo se cambia automáticamente
x = "Hola Mundo"
cadena = 10

In [ ]:
type(x)

str

In [ ]:
type(cadena)

int

Idiom: Cuando una variable tiene un valor constante, por convención, el nombre se escribe en mayúsculas.

In [ ]:
SEGUNDOS_POR_DIA = 60 * 60 * 24
PI = 3.14

# 2. Cadenas

Las cadenas pueden ser definidas usando comilla simple (') o comilla doble ("). Una característica especial de las cadenas es que son inmutables, esto quiere decir que no se pueden cambiar los caracteres que contiene. El caracter \ sirve para escapar carcteres como \n o \t.

In [ ]:
#Inicializando cadenas
cadena1 = 'Hola '
cadena2 = "Mundo"
print(cadena1)
print(cadena2)
concat_cadenas = cadena1 + cadena2 #Concatenación de cadenas
print(concat_cadenas)

Hola
Mundo
Hola Mundo

In [ ]:
#Para concatenar un número y una cadena se debe usar la función str()
num_cadena = concat_cadenas +' '+ str(3)  #Se agrega una cadena vacía para agregar un espacio
print(num_cadena)

Hola Mundo 3

Idiom: Para concatenar cadenas se recomienda el uso de la función format(), en lugar del viejo estilo del operador '+'.

In [ ]:
#El valor de la variable se va a imprimir en el lugar donde se encuentre {} en la cadena
num_cadena = "{} {} {}".format(cadena1, cadena2, 3)
print(num_cadena)

Hola  Mundo 3

Por medio de esta función, se puede cambiar el orden en que se imprimen las variables

In [ ]:
#Cuando se agrega un númmero dentro de {#}, el valor la variable que se encuentra en esa posicón
#dentro de la función format(), será impreso.
num_cadena = "Cambiando el orden:  {1}  {2}  {0} #".format(cadena1, cadena2, 3)
print(num_cadena)

Cambiando el orden:  Mundo  3  Hola  #

Las funciones integradas en Python para trabajar con cadenas se encuentran en el siguiente link https://docs.python.org/3/library/stdtypes.html#string-methods.

# 3. Operadores

**Aritméticos**: +, -, *, /

In [ ]:
#Para el exponente se  puede utilizar asterisco
print( 1 + 5 )
print( 6 * 3 )
print( 10 - 4 )
print( 100 / 50 )
print( 10 % 2 )
print( ((20 * 3) + (10 +1)) / 10 )
print( 2**2 )

6
18
6
2.0
0
7.1
4

**Booleanos**: and, not, or

In [ ]:
False and True

False

**Comparación**: >, <, >=, <=, ==

In [ ]:
print (7 < 5)  #Falso

print (7 > 5) #Verdadero

print ((11 * 3)+2 == 36 - 1)  #Verdadero

print ((11 * 3)+2 >= 36)   #Falso

print ("curso" != "CuRsO") #Verdadero

False
True
True
False
True

# 4. Listas


*   Básicamente son valores que están separados por comas dentro de paréntesis cuadrados.
*   Está compuesta por cualquier cantidad y/o tipo de datos, ya sean cadenas, caracteres, números e inclusive otras listas.
*   Se puede acceder a las listas por medio de índices, estos índices comienzan desde 0 hasta el número de elementos menos 1.
*   Las listas son mutables.

In [ ]:
#Declaracion de una lista simple
lista_diasDelMes=[31,28,31,30,31,30,31,31,30,31,30,31]

print (lista_diasDelMes)       #imprimir la lista completa
print (lista_diasDelMes[0])   #imprimir elemento 1
print (lista_diasDelMes[6])   #imprimir elemento 7
print (lista_diasDelMes[11])  #imprimir elemento 12

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
31
31
31

In [ ]:
#Declaracion de listas anidadas

lista_numeros=[['cero', 0],['uno',1, 'UNO'], ['dos',2], ['tres', 3], ['cuatro',4], ['X',5]]

print (lista_numeros)      #imprimir lista completa

print (lista_numeros[0])    #imprime el elemento 0 de la lista
print (lista_numeros[1])    #imprime el elemento 1 de la lista

print (lista_numeros[2][0]) #imprime el primer elemento de la lista en la posicion 2
print (lista_numeros[2][1]) #imprime el segundo elemento de la lista en la posicion 2

print (lista_numeros[1][0])
print (lista_numeros[1][1])
print (lista_numeros[1][2])

[['cero', 0], ['uno', 1, 'UNO'], ['dos', 2], ['tres', 3], ['cuatro', 4], ['X', 5]]
['cero', 0]
['uno', 1, 'UNO']
dos
2
uno
1
UNO

In [ ]:
#Cambiando el valor de uno de los elementos de la lista

lista_numeros[5][0] = "cinco"
print (lista_numeros[5])

['cinco', 5]

#5. Tuplas



*   Son pareceidas a las listas, valores separados por una coma.
*   Comparadas con las listas, las tuplas no son mutables.
*  Se pueden aplicar las mismas operaciones que en as listas y su ventaja es que consumen menos memoria para almacenarse.
*   Se crean, ya sea utilizando paréntesis o simplemente separando los valores por comas.

In [ ]:
#Declaracion de una tupla
tupla_diasDelMes=(31,28,31,30,31,30,31,31,30,31,30,31)

print (tupla_diasDelMes)       #imprimir la tupla completa
print (tupla_diasDelMes[0])    #imprimir elemento 1
print (tupla_diasDelMes[3])    #imprimir elemento 4
print (tupla_diasDelMes[1])   #imprimir elemento 2

(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
31
30
28

In [ ]:
#Declaracion de tuplas anidadas

tupla_numeros=(('cero', 0),('uno',1, 'UNO'), ('dos',2), ('tres', 3), ('cuatro',4), ('X',5))

print (tupla_numeros)        #imprimir tupla completa

print (tupla_numeros[0])     #imprime el elemento 0 de la tupla
print (tupla_numeros[1])     #imprime el elemento 1 de la tupla

print (tupla_numeros[2][0])  #imprime el primer elemento de la tupla en la posicion 2
print (tupla_numeros[2][1])  #imprime el segundo elemento de la tupla en la posicion 2

print (tupla_numeros[1][0])
print (tupla_numeros[1][1])
print (tupla_numeros[1][2])

(('cero', 0), ('uno', 1, 'UNO'), ('dos', 2), ('tres', 3), ('cuatro', 4), ('X', 5))
('cero', 0)
('uno', 1, 'UNO')
dos
2
uno
1
UNO

In [ ]:
#Probando la mutabilidad de las listas vs la no mutabilidad de las tuplas
print("valor actual {}".format(lista_diasDelMes[0]))
lista_diasDelMes[0] = 50
print("valor cambiado {}".format(lista_diasDelMes[0]))
tupla_diasDelMes[0] = 50   #Esta asignación manda un error, ya que no se pueden cambiar los valores de las tuplas

valor actual 31
valor cambiado 50

TypeError: 'tuple' object does not support item assignment

# 6. Tupla con nombre

En comparación con las tuplas anteriores, este tipo especial de tuplas permite especificar un nombre para describirla.

In [ ]:
#Se debe importar la librería para hacer uso de namedtuple
from collections import namedtuple

#Se crea la tupla con nombre
#El primer argumento es el nombre de la tupla, mientras que el segundo argumento son los campos
#p es la referencia a la tupla
planeta = namedtuple('planeta', ['nombre', 'numero'])

#Se crea el planeta 1 y se agregan a la tupla los valores correspondientes a los campos
planeta1 = planeta('Mercurio', 1)
print(planeta1)

#Se crea el planeta 2
planeta2 = planeta('Venus', 2)

#Se imprimen los valores de los campos
#Usando la referencia se llama a cada uno de sus campos
print(planeta1.nombre, planeta1.numero)
#Se obtienen los valores por el orden de los campos
print(planeta2[0], planeta2[1])

print('Campos de la tupla: {}'.format(planeta1._fields))

planeta(nombre='Mercurio', numero=1)
Mercurio 1
Venus 2
Campos de la tupla: ('nombre', 'numero')

In [ ]:
#Al igual que las tuplas, éstas no son mutables, si se trata de cambiar el contenido, se genera un error
planeta1.nombre = 'Tierra'

#7. Diccionarios



*   Un diccionario se crea usando { } y consta de dos partes: llave y valor.


*   Las llaves son inmutables, deben de tener un solo tipo de dato, una cadena o número.
* Una vez que es creado, no se puede cambiar su tipo.
*   Mientras que el valor puede ser de cualquier tipo y se puede cambiar con el tiempo.
*   Los elemntos en un diccionario no están ordenados.

In [ ]:
#Creando un diccionario
elementos = { 'hidrogeno': 1, 'helio': 2, 'carbon': 6 }

#EL momento de la impresion, pueden aparecer en diferente orden del introducido
print (elementos)

print (elementos['hidrogeno'])

{'hidrogeno': 1, 'helio': 2, 'carbon': 6}
1

In [ ]:
#Se pueen agregar elementos al diccionario
elementos['litio'] = 3
elementos['nitrogeno'] = 8

print (elementos)  #Imprimiendo todos los elementos, nótese que los elementos no están ordenados

{'hidrogeno': 1, 'helio': 2, 'carbon': 6, 'litio': 3, 'nitrogeno': 8}

In [ ]:
#Creando un nuevo diccionario
elementos2 = {}
elementos2['H'] = {'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}
elementos2['He'] = {'name': 'Helium', 'number': 2, 'weight': 4.002602}

print (elementos2)

{'H': {'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}, 'He': {'name': 'Helium', 'number': 2, 'weight': 4.002602}}

In [ ]:
#Imprimiendo los datos de un elemento del diccionario
print (elementos2['H'])
print (elementos2['H']['name'])
print (elementos2['H']['number'])
elementos2['H']['weight'] =  4.30  #Cambiando el valor de un elemento
print (elementos2['H']['weight'])

{'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}
Hydrogen
1
4.3

In [ ]:
#Agregando elementos a una llave
elementos2['H'].update({'gas noble':True})
print (elementos2['H'])

{'name': 'Hydrogen', 'number': 1, 'weight': 4.3, 'gas noble': True}

In [ ]:
#Muestra todos los elementos del diccionario
print (elementos2.items())

#Muestra todas las llaves del diccionario
print (elementos2.keys())

dict_items([('H', {'name': 'Hydrogen', 'number': 1, 'weight': 4.3, 'gas noble': True}), ('He', {'name': 'Helium', 'number': 2, 'weight': 4.002602})])
dict_keys(['H', 'He'])

#8. Funciones



*   Una función o procedimiento sirve para empaquetar código que sirve para ser reutilizado.
*   Se puede usar ese mismo código con diferentes entradas y obtener resultados o comportamiento de acuerdo con esos datos.

In [ ]:
#Las funciones pueden recibir n número de parámetros, no se necesita indicar el tipo
def imprime_nombre(nombre):
    print("hola "+nombre)  #Las cadenas se pueden concatenar con el +
    #Llamada a la función
imprime_nombre("JJ")

hola JJ

In [ ]:
#Definiendo una función que regresa el cuadrado de un número
def cuadrado(x):
    return x**2
x = 5
#La función format() sirve para convertir los parámetros que recibe, en cadenas; éstos valores son reemplazadas
#por las llaves de la cadena.
print("El cuadrado de {} es {}".format(x, cuadrado(x)))
#La función cuadrado() regresa un valor

El cuadrado de 5 es 25

In [ ]:
#Definiendo una función que regrese más de un valor
def varios(x):
    return x**2, x**3, x**4
#Los valores que regresa la función pueden ser guardado en variables separadas por ,
val1, val2, val3 = varios(2)
print("{} {} {}".format(val1, val2, val3))

4 8 16

In [ ]:
#Función con un parámetro con un valor por defecto
def cuadrado_default(x=3):
    return x**2
#Como la función tiene un valor por defailt, si se manda llamar la función sin especificar el parámetro, se toma el que
#tiene por defecto
cuadrado_default()

9

**Idiom:** Cuando una función regresa más de una función, se puede usar el operado '_', para no guardar un valor no deseado.

In [ ]:
#La función regresa tres, valores, pero sólo nos interesa el primero y el tercero
val4, _, val5 = varios(2)
print("{} {}".format(val4, val5))

4 16

###8.1 Variables Globales

Podemos decir que el ambiente de ejecución es donde se efectúan las de operaciones que componen un programa. Al momento de ejecutar un programa se crea un espacio de nombres para las variables. Hay dos tipos se espacio de nombres, el primero es el espacio global y el segundo el espacio local. Las variables que se declaren afuera de las funciones pertenecen as espacio global y no se necesita añadir un modificador para declararlas de esta manera. Por otro lado, todas las variables que se definen dentro de una función pertenecen al espacio local, estas variables sólo pueden ser reconocidas y usadas dentro de la propia función.

In [ ]:
#Se crea una variable en el espacio global de nombres
vg = 'Global'
#Se crea una función que imprime la variable global
def funcion_v1():
    print(vg)
#Llamada a la función que imprime la variable global
funcion_v1()

#Imprime la variable global
print(vg)

Global
Global

In [ ]:
#Se crea una variable local que tiene el mismo nombre que la variable global
def funcion_v2():
    vg = "Local"
    print(vg)
#Llamada a la función
funcion_v2()  #Imprime valor local

#Imprime la variable global
print(vg)

Local
Global

In [ ]:
#Se trata de imprimir el valor de la variable global, a diferencia de la función_v1(), se creó en el
#espacio local de la funcion_v3() una variable con el mismo nombre, por lo que se reemplaza la variable
#global
def funcion_v3():
    print(vg)
    vg = "Local"
    print(vg)
#Como se tiene una variable local y no se le ha asignado un valor, se genera un error
funcion_v3()

UnboundLocalError: cannot access local variable 'vg' where it is not associated with a value

In [ ]:
#Para resolver el problema anterior y especificar que se quiere hacer uso de la variable global dentro de la
#función funcion_v4(), se tiene que agregar la palabra reservada global
def funcion_v4():
    global vg
    print(vg)
    vg = "Local"
    print(vg)
#Al momento de ejecutar la función se imprime el valor que tenía asignado vg antes de se modificado por la función.
#Después de asignar el valor, éste es impreso
funcion_v4()

#Se imprime la variable global con su valor modificado
print(vg)

Global
Local
Local

**Nota:** El manejo de variables globales dentro de una función en el lenguaje Python se considera como una mala práctica, se recomienda que se pase como parámetro a la función y que se regrese un valor.

#Actividades de la práctica

#Código 1

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
#Inicializando variables
x = 10     #variable de tipo entero
print(x)   #función para imprimir los valores de las variables

#Se puede utilizar comillas dobles o simples para crear una cadena
cadena = "Hola Mundo"    #varible de tipo cadena
print(cadena)

10
Hola Mundo

#Código 2

In [ ]:
import math
print("-----Ecuación de segundo grado (Chicharronera)-----")
print("Dame el valor de a")
a=float(input())
print("Dame el valor de b")
b=float(input())
print("Dame el valor de c")
c=float(input())
x1=((-b)+ math.sqrt((b**2)-4*a*c))/(2*a)
x2=((-b)- math.sqrt((b**2)-4*a*c))/(2*a)
print("El valor de x1= ",x1)
print("El valor de x2= ",x2)

-----Ecuación de segundo grado (Chicharronera)-----
Dame el valor de a
1
Dame el valor de b
-10
Dame el valor de c
2
El valor de x1=  9.79583152331272
El valor de x2=  0.2041684766872809

# Código 3

In [ ]:
print ("-Programa para calcular el area de un circulo-")
r= float(input("Dame el valor del radio del circulo \t"))
PI=3.14
Area= (r**2)*PI
print ("Area", Area)

-Programa para calcular el area de un circulo-
Dame el valor del radio del circulo 	2.3
Area 16.610599999999998

# Codigo 4

In [ ]:
print("Bienvenido al programa para calcular el volumen del cubo")
Lado= float(input("Dame la medida de uno de los lados \t"))
Volumen= Lado**3
print ("Volume",Volumen)

Bienvenido al programa para calcular el volumen del cubo
Dame la medida de uno de los lados 	4.2
Volume 74.08800000000001

# Código 5

In [ ]:
print("Bienvenido al programa rebanadas de mantequilla")
rebanada = list("mantequilla")
print(rebanada)
print(rebanada[2:4])
print(rebanada[:6])
print(rebanada[:-1])
print(rebanada[3:-5])
print(rebanada[-8:8])

Bienvenido al programa rebanadas de mantequilla
['m', 'a', 'n', 't', 'e', 'q', 'u', 'i', 'l', 'l', 'a']
['n', 't']
['m', 'a', 'n', 't', 'e', 'q']
['m', 'a', 'n', 't', 'e', 'q', 'u', 'i', 'l', 'l']
['t', 'e', 'q']
['t', 'e', 'q', 'u', 'i']

# Código 6

In [ ]:
print("Bienvenido al programa indices de listas")
L = [ 1, 2, 3, 'por', ['py', ['t', 'h', 'o', 'n']]]
print("Elementos indice: ", L[0:4])
print("Elementos subíndice 1: ", L[4][0])
print("Elementos subíndice 2: ", L[4][1][0:3])

Bienvenido al programa indices de listas
Elementos indice:  [1, 2, 3, 'por']
Elementos subíndice 1:  py
Elementos subíndice 2:  ['t', 'h', 'o']

# **Conclusiones**

Zarate Mendoza Luis Alejandro.

La realización y estudio de esta práctica nos ha ayudado a trasladar los conocimientos obtenidos en el lenguaje de programación en C al lenguaje de programación Python. Ha fungido a manera de iniciación en el lenguaje, conociendo las funciones principales de este mismo y a su vez dándonos las oportunidad de conocer tanto la sintaxis, como parte de la lógica  utilizada en la elaboración de códigos. Ha sido interesante reinterpretar problemas ya conocidos anteriormente a un nuevo lenguaje de programación y utilizar nuestra capacidad resolutiva para adaptarnos a esta nueva forma de trabajar, la cual trae consigo diversas oportunidades y herramientas para el desarrollo de códigos más cortos y eficientes.

Antonio Garcia Braulio Gerardo

En esta práctica aprendimos los fundamentos básicos del lenguaje Python, incluyendo variables, tipos de datos, operadores, listas, tuplas, diccionarios y funciones. Se comprendió que las variables en Python no requieren declaración previa de tipo y que el tipo se ajusta automáticamente según el valor asignado.

También se trabajó con cadenas de texto, entendiendo su inmutabilidad y las diferentes maneras de concatenarlas y formatearlas . Se exploraron operaciones con listas y tuplas, destacando la mutabilidad de las listas y la inmutabilidad de las tuplas, además de su uso en estructuras anidadas.

La sección de diccionarios mostró cómo almacenar y manipular datos asociados a claves, lo que permite una organización eficiente de información. Además, se revisaron las funciones en Python, su flexibilidad en cuanto a parámetros y retorno de múltiples valores, incluyendo funciones con valores por defecto.

Finalmente, se entendió la diferencia entre variables locales y globales, así como las buenas prácticas respecto al uso de variables globales para evitar errores de manipulación de datos en los programas. Esta práctica sentó las bases necesarias para seguir aprendiendo programación en Python de manera estructurada y eficiente.

Mendoza Torres Marco Antonio

A lo largo de esta practica, pudimos introducirnos, comprender y descubrir otro lenguaje de programación,esto nos dota de más herramientas con las cuales podemos desarrollar códigos con distintos lenguajes de programación, ademas de observar en que situaciones es mejor el uso de este lenguaje.

El aprendizaje del lenguaje  C en la programación anterior a Python, facilito nuestro aprendizaje e introducción a Python; lenguaje que tiende a ser facil de comprender, usar. También pudimos observar que muchas funciones o estructuras existentes en otros códigos (los cuales se tienen que crear desde cero),este lenguaje nos ofrece su creación inmediata.

Dentro de las actividades de esta practica encontramos la creación de cademas, funciones, el uso de operadores y el uso de variables. Todo esto con el fin de poder ver la sintaxis en Python y como es que esta no varia tanto a C.